# DSC 680
## Assignment 8.1
## Chase Lemons

In [59]:
import pandas as pd
import numpy as np
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KDTree
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt

import datetime as dt
import nltk
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize
from numpy import dot
from numpy.linalg import norm
from sklearn.metrics.pairwise import cosine_similarity
import timeit

In [2]:
df = pd.read_csv("indeed_job_dataset.csv", sep =",")

In [3]:
df.head()

,Unnamed: 0,Job_Title,Link,Queried_Salary,Job_Type,Skill,No_of_Skills,Company,No_of_Reviews,No_of_Stars,...,MD,DC,NC,Other_states,Consulting and Business Services,Internet and Software,Banks and Financial Services,Health Care,Insurance,Other_industries
0,0,Data Scientist,https://www.indeed.com/rc/clk?jk=6a105f495c36a...,<80000,data_scientist,"['SAP', 'SQL']",2,Express Scripts,3301.0,3.3,...,0,0,0,1,0,0,0,1,0,0
1,1,Data Scientist,https://www.indeed.com/rc/clk?jk=86afd561ea8c6...,<80000,data_scientist,"['Machine Learning', 'R', 'SAS', 'SQL', 'Python']",5,Money Mart Financial Services,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,2,Data Scientist,https://www.indeed.com/rc/clk?jk=e0aad317e6d45...,<80000,data_scientist,"['Data Mining', 'Data Management', 'R', 'SAS',...",9,comScore,62.0,3.5,...,0,0,0,1,0,0,0,0,0,0
3,3,Graduate Studies Program - Data Scientist,https://www.indeed.com/rc/clk?jk=1cfdd9e391a63...,<80000,data_scientist,['Certified Internal Auditor'],1,Central Intelligence Agency,158.0,4.3,...,0,1,0,0,0,0,0,0,0,1
4,4,Data Scientist I,https://www.indeed.com/rc/clk?jk=fec647775a21e...,<80000,data_scientist,"['Statistical Software', 'Time Management', 'R...",7,Federal Reserve Bank of Dallas,495.0,4.1,...,0,0,0,0,0,0,1,0,0,0

In [12]:
import docx2txt
my_text = docx2txt.process("Chase Lemons Resume 6_17_2019.docx")

Chase H. Lemons

	Advanced Analyst

	509.668.8358

	Clemons_12@hotmail.com

	Goal oriented professional with 5+ years of experience in big data and advanced analytics across multiple functions. Seeking a position to utilize and enhance my leadership, analytics and developer skills. Extremely passionate about analytics, strategy and process improvement.









Work Experience:





Sr. Advanced Analyst | Textron Aviation	            				         October 2018 - Present

• Actively provide strategy for overall analytics roadmap and operating model for Textron Aviation.

• Lead a Tableau proof of concept with the business.

• Develop dashboards for multiple business areas utilizing Tableau, Qlikview, and Power BI.

• Ensure ETL processes in and out of the enterprise data warehouse perform successfully.

• Uses a combination of R, Python and SQL for data manipulation, analysis and reporting daily.

• Implemented a model to identify parts that needed price adjustment based on ecommerce data.

• Translates high-level business requirements into functional specifications and manages changes.

• Develop metrics of utilization of IT tools and systems.

• Team lead for business intelligence and predictive data models.

• Developed a candidate percent match tool for recruiters to help with efficiency.



HR Analyst | Textron Aviation	           		           Dec 2015 – February 2016, January 2017 - Present

• Be a lead for team members with less experience in the analytics space.

• Perform technology overviews and provide recommendations on BI, Analytics tools, and other HR tools.

• Represent Textron Aviation on enterprise projects like an exit interview survey harmonization project.

• Develop and maintain Qlikview, Power BI and Tableau Dashboards, to support senior leadership.

• Uses Excel, R and SQL for data manipulation, analysis and reporting daily.

• Developed VBAs to automate rewards planner reporting, reducing time from 2 days to under 1 hour.

• Facilitate the integration of our HR change of status processes with a request tracking system.

• Develop web scrapers in R to collect data from LinkedIn and other sites for sourcing.

• Create a predictive model to forecast retirement and attrition for workforce planning.

• Devised and implemented new exit interview survey, raising completion success rate from 25% to 70%.

• Creates, maintains, and ensures quality assurance of key data sets, reports, and metrics.

• Support leadership by providing data, workforce analysis and strategic planning recommendations.

• Generate metrics, external benchmarks and labor market trends for business needs.

    Advanced Analyst | Textron Aviation					        February 2015 – January 2017

• Generate leads for the business development team by creating web scrapers for websites using R.

• Build models with SQL in hadoop to analyze FAA records to determine when a plane had maintenance.

• Maintain standard and customized queries that support the customer base.

• Use statistical analysis to discover trends and forecast for potential buyers.

• Program in R to reclassify all Salesforce account types.



Recruiting Coordinator/Sourcer (Contract)| Precor Inc.		                           Sep 2015 – Dec 2015

• Analyzed records and contacted vendors to generate reports of all contract labor at Precor.

• Analyzed data from surveys and ad-hoc reports to create condensed readable presentations.

• Created training documents for tools such as Pereless, Concur, and Workday.



    Manager of Cashmere City Pool | City of Cashmere				          May 2009 – Sep 2015

• Managed a team of 20 – 30 employees.

• Advised and developed safety procedures and policies for the facility.

• Created proposals to change hours of operations and prices to increase revenues and cut costs.

• Revised and implemented guideline specifications and pool processes based on analysis.

• Wrote technical documents for development and implementation of new training strategies.





Education:



Bellevue University, Bellevue, NE

	Masters of Science in Data Science| June 2018 – November 2019

	Masters of Science in Business Analytics | August 2015 – March 2017



University of Washington, Seattle, WA

	Bachelors of Arts in Mathematics | September 2012 – June 2015

2



2

In [56]:
import re
content = []
for line in my_text.splitlines():
  if line != '':
    clean_lines = line.strip().lower()
    clean_lines2 = re.sub(r'[^a-zA-Z0-9\._-]', ' ', clean_lines)
    clean_lines2 = re.sub(r'\s+', ' ', clean_lines2)
    clean_lines2 = clean_lines2.strip()
    content.append(clean_lines2)
    
jobs = df["Description"].tolist()

for i in range(len(jobs)):
    jobs[i] = str(jobs[i]).strip().lower()

def concatenate_list_data(list):
    result= ''
    for element in list:
        result += str(element)
        result += " "
    return result

resume = concatenate_list_data(content)

In [61]:
def cos_sim(a,b):
    calc = dot(a, b)/(norm(a)*norm(b))
    return calc


cos_sim_score = []
included_list = ['NN','NNP', 'NNPS', 'NNS', 'VB', 'VBD', 'VBG', 'VBN', 'VBP', 'VBZ']

resume_tolk = word_tokenize(resume)
l1 =[]

tokenized_can_1 = []
aa = nltk.pos_tag(resume_tolk)
filt_sent = []
for k in aa:
    if k[1] in included_list:
        filt_sent.append(k[0].lower())
    tokenized_can_1.append(filt_sent)
    X_set = set(tokenized_can_1[0])


req_1 = df["Description"].values

In [96]:
%%time
cos_sim_score = []
for i in range(len(jobs)):

    job_des = jobs[i]
  
    # tokenization   
    job_des_tolk = word_tokenize(job_des) 

    l1 =[];l2 =[]  

    tokenized_req_1 = []
    bb = nltk.pos_tag(job_des_tolk)
    filt_sent = []
    for k in bb:
        if k[1] in included_list:
            filt_sent.append(k[0].lower())
    tokenized_req_1.append(filt_sent)
    Y_set = set(tokenized_req_1[0])

    # form a set containing keywords of both strings  
    rvector = X_set.union(Y_set)  
    for w in rvector: 
        if w in X_set: l1.append(1) # create a vector 
        else: l1.append(0) 
        if w in Y_set: l2.append(1) 
        else: l2.append(0) 

    cos = cos_sim(l1,l2)
    cos_sim_score.append(cos)
    df["des_res_similarity"] = cos_sim_score

Wall time: 8min 35s

In [101]:
df.to_csv("indeed_job_dataset_with_similarity.csv")